vrrp_instance VI_EXT {
    interface enp0s10
    state MASTER
    virtual_router_id 50
    priority 101
    advert_int 1

    unicast_src_ip 192.168.56.10  # IP of this server
    unicast_peer {
        192.168.56.11  
    }

    virtual_ipaddress {
        192.168.56.20  # The floating IP
    }
}

vrrp_instance VI_INT {
    interface enp0s8
    state MASTER
    virtual_router_id 51
    priority 101
    advert_int 1

    unicast_src_ip 192.168.2.2  # IP of this server
    unicast_peer {
        192.168.2.3  # IP of the backup server
    }

    virtual_ipaddress {
        192.168.2.4  # The floating IP
    }
}

