[galera]
# Mandatory settings
wsrep_on                        = ON
wsrep_cluster_name              = "cluster"
wsrep_provider                  = /usr/lib/galera/libgalera_smm.so
wsrep_sst_method                = rsync
wsrep_cluster_address           = "gcomm://192.168.2.5,192.168.2.6,192.168.2.7"
binlog_format                   = row
default_storage_engine          = InnoDB
innodb_autoinc_lock_mode        = 2
#innodb_rollback_on_timeout      = 1
#innodb_lock_wait_timeout        = 600
#innodb_doublewrite              = 1
#innodb_flush_log_at_trx_commit  = 1

# Allow server to accept connections on all interfaces.
bind-address = 0.0.0.0

# Optional settings
#wsrep_slave_threads           = 1
wsrep_node_address             = "{{ ansible_enp0s8.ipv4.address }}"
wsrep_node_name                = "{{ ansible_hostname }}"
#innodb_flush_log_at_trx_commit = 0
#max_connections                = 350
#log-bin=/var/log/mysql/mysql-bin
#log-bin-index=/var/log/mysql/mysql-bin.inde

