filebeat.inputs:
- type: log
  enabled: true
  paths:
      - /var/log/nginx/*
  fields:
    type: nginx
  fields_under_root: true
  scan_frequency: 15s

- type: log
  enabled: true
  paths:
      - /var/log/apache2/*
  fields:
    type: apache2
  fields_under_root: true
  scan_frequency: 15s

- type: log
  enabled: true
  paths:
      - /var/log/mysql/error.log
  fields:
    type: mysql
  fields_under_root: true
  scan_frequency: 55s


output.logstash:
  hosts: ["192.168.2.8:5044"]

