filter {
 if [type] == "nginx_access" {
    grok {
        match => { "message" => "%{IP:host:ip} - - \[%{HTTPDATE:timestamp}\] \"%{WORD:Word} %{DATA:data}\" %{NUMBER:status} %{NUMBER:bytes} \"%{DATA:link}\" \"%{DATA:browser}\/%{NUMBER:version}" }
    }
  }
  date {
        match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
  }
}
