#
#  For Bacula release 9.6.7 (10 December 2020) -- debian bookworm/sid
#
# There is not much to change here except perhaps the
# File daemon Name to
#
#
# Copyright (C) 2000-2020 Kern Sibbald
# License: BSD 2-Clause; see file LICENSE-FOSS
#


Director {                            # define myself
  Name = bacula-dir
  DIRport = 9101                # where we listen for UA connections
  QueryFile = "/etc/bacula/scripts/query.sql"
  WorkingDirectory = "/var/lib/bacula"
  PidDirectory = "/run/bacula"
  Maximum Concurrent Jobs = 20
  Password = {{ pass }}         # Console password
  Messages = Daemon
  DirAddress = 192.168.2.10
}

JobDefs {
 Name = "DefaultJob"
 Type = Backup
 Level = Full
 FileSet = Wordpress
 Messages = Standard
 SpoolAttributes = yes
 Priority = 10
 Schedule = "WeeklySchedule"
 Write Bootstrap = "/var/lib/bacula/%c.bsr"
}

#Job {
#  Name = "RestoreFiles"
#  Type = Restore
#  Client = bacula-fd
#  Storage = bacula
# The FileSet and Pool directives are not used by Restore Jobs
# but must not be removed
#  FileSet = Wordpress
#  Pool = baculapool
#  Messages = Standard
#  Where = /tmp/bacula-restores

#}
################### fileset ###################################

# List of files to be backed up
FileSet {
  Name = Wordpress
  Include {
    Options {
#      signature = MD5
    }
    File = /var/www
    File = /var/lib/mysql/
    File = /etc/mysql/
      }

  Exclude {
    File = /proc
    File = /tmp
    File = /sys
    File = /.journal
    File = /.fsck
  }
}
####################### shedul ################
Schedule {
  Name = "WeeklySchedule"
  Run = Level=Full  mon at 22:23

}

####################### Job ###################
Job {
  Name = "node1"
  Pool = node1-fd
  Storage = bacula_stor
  Client = node1-fd 
  JobDefs = "DefaultJob"
}

Job {
  Name = "node2"
  Pool = node2-fd
  Storage = bacula_stor2
  Client = node2-fd
  JobDefs = "DefaultJob"
}

Job {
  Name = "node3"
  Pool = node3-fd
  Storage = bacula_stor3
  Client = node3-fd
  JobDefs = "DefaultJob"
}
################################ client #####################################
Client {
  Name = node1-fd
  Address = 192.168.2.5
  FDPort = 9102
  Catalog = MyCatalog
  Password = {{ pass }}        # password for FileDaemon
  File Retention = 20 days            # 60 days
  Job Retention = 2 months            # six months
  AutoPrune = yes                     # Prune expired Jobs/Files
}

Client {
  Name = node2-fd
  Address = 192.168.2.6
  FDPort = 9102
  Catalog = MyCatalog
  Password = {{ pass }}         # password for FileDaemon
  File Retention = 20 days            # 60 days
  Job Retention = 2 months            # six months
  AutoPrune = yes                     # Prune expired Jobs/Files
}

Client {
  Name = node3-fd
  Address = 192.168.2.7
  FDPort = 9102
  Catalog = MyCatalog
  Password = {{ pass }}         # password for FileDaemon
  File Retention = 20 days            # 60 days
  Job Retention = 2 months            # six months
  AutoPrune = yes                     # Prune expired Jobs/Files
}
################################### storage #####################################################
Storage {
  Name = bacula_stor
  Address = 192.168.2.10               # N.B. Use a fully qualified name here
  SDPort = 9103
  Password = {{ pass }}
  Device = bacula_dev
  Media Type = File
}

Storage {
  Name = bacula_stor2
  Address = 192.168.2.10               # N.B. Use a fully qualified name here
  SDPort = 9103
  Password = {{ pass }}
  Device = bacula_dev2
  Media Type = File
}

Storage {
  Name = bacula_stor3
#  Do not use "localhost" here    
  Address = 192.168.2.10               # N.B. Use a fully qualified name here
  SDPort = 9103
  Password = {{ pass }}
  Device = bacula_dev3
  Media Type = File
}
############################################# base #################################################
# Generic catalog service
Catalog {
  Name = MyCatalog
  dbname = "bacula"; DB Address = "localhost"; dbuser = "bacula"; dbpassword = {{ pass }}
}
############################################# message ################################################
Messages {
  Name = Standard

  mailcommand = "/usr/sbin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula: %t %e of %c %l\" %r"
  operatorcommand = "/usr/sbin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula: Intervention needed for %j\" %r"
  mail = root@localhost = all, !skipped            
  operator = root@localhost = mount
  console = all, !skipped, !saved
#
# WARNING! the following will create a file that you must cycle from
#          time to time as it will grow indefinitely. However, it will
#          also keep all your messages if they scroll off the console.
#
  append = "/var/log/bacula/bacula.log" = all, !skipped
  catalog = all
}


#
# Message delivery for daemon messages (no job).
Messages {
  Name = Daemon
  mailcommand = "/usr/sbin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula daemon message\" %r"
  mail = root@localhost = all, !skipped            
  console = all, !skipped, !saved
  append = "/var/log/bacula/bacula.log" = all, !skipped
}

#####################################pool##########################################
# Default pool definition
Pool {
  Name =  node1-fd
  Pool Type = Backup
  Recycle = yes                       # Bacula can automatically recycle Volumes
  AutoPrune = yes               # Prune expired volumes
 VolumeRetention = 13d
  LabelFormat = "node1-"         # one year
  Maximum Volume Bytes = 5G          # Limit Volume size to something reasonable
  Maximum Volumes = 15           # Limit number of Volumes in Pool
}

Pool {
  Name =  node2-fd
  Pool Type = Backup
  Recycle = yes                       # Bacula can automatically recycle Volumes
  AutoPrune = yes               # Prune expired volumes
  VolumeRetention = 8d
  LabelFormat = "node2-"          # one year
  Maximum Volume Bytes = 5G          # Limit Volume size to something reasonable
  Maximum Volumes = 8             # Limit number of Volumes in Pool
}

Pool {
  Name =  node3-fd
  Pool Type = Backup
  Recycle = yes                       # Bacula can automatically recycle Volumes
  AutoPrune = yes               # Prune expired volumes
  VolumeRetention = 24d
  LabelFormat = "node3-"             # one year
  Maximum Volume Bytes = 5G          # Limit Volume size to something reasonable
  Maximum Volumes = 10            # Limit number of Volumes in Pool
}
##################################################################################
Console {
  Name = bacula-mon
  Password = {{ pass }}
  CommandACL = status, .status
}


